<footer class="w-100 bg-secondary p-2 position-absolute" style='bottom: 0;'>
    <div class="d-flex justify-content-center align-items-center">

        <a target="_blank" href="https://www.linkedin.com/in/nadar-alpenidze-730077188/">
            <p class="text-white mr-4"> &copy; Nadar Alpenidze</p>
        </a>

        <a target="_blank" href="https://www.linkedin.com/in/nadar-alpenidze-730077188/">
            <i class="fab fa-linkedin text-info" style="font-size: 18px;"></i>
        </a>
    </div>
</footer>